.form-register {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

main#create-confirm .wrap {
  overflow-wrap: break-word;
}

.tag-link {
  font-size: 75%;
  line-height: 75%;
}

#sort-setting .active {
  font-weight: bolder;
  text-decoration: underline;
}